*,
html {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}   

/* navbar */

nav {
    display: flex;
    border-bottom-style: ridge;
    position: fixed;
    width: 100%;
}

.nav1 {
    padding: 30px;
    padding-left: 20px;
    width: 10%;
    background-color: white;
    font-weight: bold;
}

.nav2 {
    display: flex;
    justify-content: flex-end;
    padding: 30px;
    padding-right: 80px;
    width: 100%;
    background-color: white;
    font-size: small;
    font-weight: 600;
}

li {
    list-style-type: none;
    border: 1px;
    margin-left: 30px;
}

.nav_home:hover, .nav_about:hover, .nav_blogs:hover, .nav_contact:hover {
    text-decoration: underline 0.15em;
    text-decoration-color: gray;
    text-underline-offset: 0.5em;
    transition: 300ms;
}

.arkan {
    float: left;
}

a {
    text-decoration: none;
    color: black;
}

/* Blogs */

#blogs {
    background-color: rgb(235, 235, 235);
}

.blogs_head {
    display: flex;
    justify-content: center;
    padding: 60px;
    padding-top: 150px;
}

.blogs_text {
    padding-bottom: 80px;
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    justify-content: center;
}

.blogs_list_row1, .blogs_list_row2 {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    padding-bottom: 80px;
}

.blog{
    border-style: solid;
    border-radius: 30px;
    padding: 10px;
    padding-top: 45px;
    background-color: white;
}

.blog_image {
    text-align: center;
    margin: 50px;
    margin-top: 0;
    margin-bottom: 0;
}

.image_ddp_tangga {
    width: 200px;
    height: 255px;
}

.blog_title {
    margin: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.blog_date {
    text-align: center;
    font-size: small;
    margin-bottom: 30px;
}

.blog_baca {
    border-style: solid;
    border-radius: 20px;
    text-align: center;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 20px;
    padding: 5px;
}

.blog_baca:hover {
    transition: ease-in-out;
    background-color: black;
    color: white;
}

.blogs_end {
    text-align: center;
    padding-bottom: 50px;
    font-weight: 600;
    font-size: medium;
}

.footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    padding: 3%;
    font-size: small;
}